text {
    font-family: sans-serif;
}

.chart_title {
    font-size: 3em;
    text-anchor: middle;
}

rect {
    fill: steelblue;
}

.tick text {
    font-size: 1.5em;
}

.label {
    font-size: 1em;
    font-weight: bold;
    text-anchor: end;
}

.axis_label {
    fill: black;
    font-size: 2.5em;
    font-weight: bold;
    text-anchor: middle;
}