.chart-title {
    font-size: 1.5em;
    font-weight: bold;
    text-anchor: middle;
    text-align: center;
}

.tab-content {
    min-width: 100%;
}

.div-table {
    display: table;
}

.div-table-row {
    display: table-row;
}

.div-table-cell {
    display: table-cell;
    vertical-align: top;
}

.legend .background-rect {
    fill: lightgrey;
    opacity: .1;
}

